@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

/*******
common
*******/
html {
  /* スムーススクロール */
  scroll-behavior: smooth;
}
body {
  color: #333;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  width: min(1000px, 90%);
  margin: auto;
}
section {
  padding: 30px;
  background-color: #D3D3D3;
  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
}
section + section {
  margin-top: 70px;
}
h3 {
  font-size: 40px;
  font-weight: bold;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1em;
}

/*******
header
*******/
.header {
  padding-top: 5em;
  padding-right: 4em;
}
.menu-icons {
  text-align: right;
  align-items: center;
}
.menu-icon {
  margin: 0 1em;
  display: inline-block;
}
.menu-icon a {
  font-size: 25px;
  color: #D3D3D3;
}
.hamburger-btn {
  display: none;
}
.menu-sp {
  display: none;
}
/*******
firstview
*******/
.firstview {
  height: 90vh;
  background-color: #fff;
  letter-spacing: 0.05em;
  /* display: grid;
  place-items: center; */
  text-align: center;
  position: relative;
}
.firstview h1 {
  font-size: 50px;
  margin: 10px inherit;
  position: absolute;
  top: 50%;
  left: 0;
}
.firstview h2 {
  font-size: 42px;
  margin: 10px inherit;
  position: absolute;
  top: 60%;
  left: 0;
  color: #D3D3D3;
}

/*******
works
*******/
.works-sp {
  display: none;
}
.works {
  display: flex;
  justify-content: space-between;
}
.work {
  width: 50%;
}
.works img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

/*******
service
*******/
#service {
  background-color: #fff;
  min-height: 500px;
}
.service-contents {
  display: flex;
  justify-content: space-between;
}
.service-content {
  width: 33.3333%;
  margin: 0 5%;
}
.service-content img {
  width: 100%;
  object-fit: contain;
}
.service-content p {
  margin-top: 5%;
  text-align: left;
  font-size: 20px;
}
/*******
footer
*******/
footer p {
  text-align: center;
  color: #D3D3D3;
  margin: 3em 0;
}

/*********
スクロールボタンscroll-button
**********/
.scroll-button {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid #D3D3D3;
  text-align: center;
  z-index: 5;
}
.scroll-button-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top:  3px solid #949494;
  border-left: 3px solid #949494;
  transform: rotate(45deg) translate(12px, 12px);
}

/*********
media
**********/
@media screen and (max-width: 768px) {
  /*********
  hamburger-menu
  **********/
    .hamburger-btn {
      display: block;
      position: fixed;
      right: 30px;
      width: 50px;
      height: 44px;
      transition: 1s;
      border: none;
      background: transparent;
      z-index: 100;
  }
  .inner_line {
      display: block;
      position: absolute;
      right: 0;
      width: 30px;
      height: 4px;
      background-color: #949494;
      transition: 1s;
      border-radius: 4px;
  }
  #line1 {
      top: 10px;
  }
  #line2 {
      top: 20px;
  }
  #line3 {
      bottom: 10px;
  }
  .menu-pc {
      display: none;
  }
  .menu-sp {
      display: block;
      position:fixed;
      z-index: 2;
      top:0;
      right: -130%;
      width:100%;
      height: 100vh;/*表示する高さ*/
      background:rgba(56, 56, 56, 0.9);  /*０.7秒かけてナビメニューがスライドする*/
      transition: .7s;
  }
  .menu-icons {
      display: block;
      position: absolute;
      top:40%;
      left:40%;
      transform: translate(-50%,-50%);
      width: 70%;
      text-align: center;
  }
  .menu-icon {
      margin: 30px 0;
      display: block;
  }
  .menu-icon a {
      font-size: 25px;
      display: block;
  }
  /* アイコンをクリックした時の動作のCSS */
  .in{
      right: -20%;
  }
  .line_1,.line_2,.line_3{
      background: #949494;
  }
  .line_1 {
      /*-45度回転させる*/
      transform: translateY(10px) rotate(-45deg);
      top: 0;
  }
  .line_2 {
      opacity: 0;
  }
  .line_3 {
      /*45度回転させる*/
      transform: translateY(-10px) rotate(45deg);
      bottom: 0;
  }
  /*******
  common
  *******/
  section {
    padding: 20px;
    margin-top: 70px;
  }
  /*******
  header
  *******/
  .header {
    padding-top: 1em;
  }
  /*******
  firstview
  *******/
  .firstview h1 {
    font-size: 32px;
  }
  .firstview h2 {
    font-size: 28px;
  }
  /*******
  works
  *******/
  .works-pc {
    display: none;
  }
  .works-sp {
    display: block;
  }
  .work {
    width: 100%;
  }
  .works img {
    width: 80%;
    height: auto;
    object-fit: contain;
  }
  #works4 {
    min-height: 350px;
  }
  /*******
  service
  *******/
  #service {
    min-height: 300px;
  }
  .service-contents {
    display: block;
    width: 100%;
  }
  .service-content {
    width: 100%;
    margin: 10% 0;
    display: inline-block;
  }
  .service-content img {
    width: 70%;
  }
  .scroll-button {
    bottom: 60px;
  }
}