@charset "UTF-8";

body {
  color: #333;
}

header {
  height: 90vh;
  background-color: #333;
  color: #FFF;
  font-size: 50px;
  letter-spacing: 0.05em;
  display: grid;
  place-items: center;
}

main {
  width: min(1000px, 95%);
  margin: 100px auto;
}
section {
  padding: 30px;
  background-color: #eee;
  min-height: 500px;
  border-radius: 10px;
}
.works {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 10px;
}
.works img {
  width: 100%;
}
section + section {
  margin-top: 30px;
}
section h2 {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid currentColor;
  padding-bottom: 10px;
}
footer {
  padding-bottom: 100px;
}