@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

/*******
common
*******/
html {
  /* スムーススクロール */
    scroll-behavior: smooth;
}
body {
  color: #fff;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  width: min(1000px, 90%);
  margin: auto;
  background-color: #333333;
}
.common-contents {
    margin-top: 25%;
}
h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0.5em;
}
h3 {
  font-size: 40px;
  font-weight: bold;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1em;
}
/*******
contact.html
*******/
.contact-contents {
    margin-top: 5em;
}
.contact-contents a {
    text-decoration: underline;
}
.contact-contents img {
    width: 50px;
}
.contact-content {
    margin-top: 2em;
}
.contact h3 {
    margin-top: 20px;
    font-size: 30px;
}
.contact-footer {
    margin-top: 45%;
}
/*******
header
*******/
.header {
  padding-top: 5em;
  padding-right: 4em;
}
.menu-icons {
  text-align: right;
  align-items: center;
}
.menu-icon {
  margin: 0 1em;
  display: inline-block;
}
.menu-icon a {
  font-size: 25px;
  color: #fff;
}
.hamburger-btn {
  display: none;
}
.menu-sp {
    display: none;
}

/*******
footer
*******/
footer {

}
footer p {
    text-align: center;
    color: #D3D3D3;
    margin: 5em 0 0 0;
}

/*******
about.html
*******/
.about-content {
    display: flex;
    justify-content: space-around;
    margin: 10% 0 10% 0;
}
.about-img {
    width: 32%;
}
.about-img img {
    border-radius: 60%;
    width: 100%;
    border: #333333 solid 1px;
}
.about-table {
    width: 65%;
}

table {
    width: 100%;
    font-size: 20px;
    border-bottom: 1px dashed;
    padding-left: 5%;
}
th {
    text-align: center;
    width: 30%;
    padding: 2% 0 1% 0;
    font-weight: normal;
    border-bottom: 1px dashed;
    margin-left: 2%;
}
td {
    width: 70%;
    padding: 2% 0 1% 0;
    border-bottom: 1px dashed;
}
.about-txt ul {
    margin: 3% 0;
    width: 30%;
}
.about-txt li {
    margin: 2% 0;
    text-decoration: underline;
}
.about-txt li a {
    font-size: 20px;
}


/*********
media
**********/
@media screen and (max-width: 768px) {
    /*********
    hamburger-menu
    **********/
    .hamburger-btn {
        display: block;
        position: fixed;
        right: 30px;
        width: 50px;
        height: 44px;
        transition: 1s;
        border: none;
        background: transparent;
        z-index: 100;
    }
    .inner_line {
        display: block;
        position: absolute;
        right: 0;
        width: 30px;
        height: 4px;
        background-color: #949494;
        transition: 1s;
        border-radius: 4px;
    }
    #line1 {
        top: 10px;
    }
    #line2 {
        top: 20px;
    }
    #line3 {
        bottom: 10px;
    }
    .menu-pc {
        display: none;
    }
    .menu-sp {
        display: block;
        position:fixed;
        z-index: 2;
        top:0;
        right: -130%;
        width:100%;
        height: 100vh;/*表示する高さ*/
        background:rgba(255, 255, 255, 0.9);  /*０.7秒かけてナビメニューがスライドする*/
        transition: .7s;
    }
    .menu-icons {
        display: block;
        position: absolute;
        top:40%;
        left:40%;
        transform: translate(-50%,-50%);
        width: 70%;
        text-align: center;
    }
    .menu-icon {
        margin: 30px 0;
        display: block;
    }
    .menu-icon a {
        font-size: 25px;
        display: block;
        color: #949494;
    }
    /* アイコンをクリックした時の動作のCSS */
    .in{
        right: -20%;
    }
    .line_1,.line_2,.line_3{
        background: #949494;
    }
    .line_1 {
        /*-45度回転させる*/
        transform: translateY(10px) rotate(-45deg);
        top: 0;
    }
    .line_2 {
        opacity: 0;
    }
    .line_3 {
        /*45度回転させる*/
        transform: translateY(-10px) rotate(45deg);
        bottom: 0;
    }
    /*******
    common
    *******/
    section {
        padding: 20px;
        margin-top: 70px;
    }
    /*******
    header
    *******/
    .header {
        padding-top: 1em;
    }
    /*******
    contact.html
    *******/
    .contact-main {
        min-height: 450px;
    }
    /*******
    about.html
    *******/
    .about-content {
        display: block;
    }
    .about-img {
        width: 80%;
        margin: auto;
    }
    .about-img img {
        min-height: 250px;
    }
    .about-table {
        width: 100%;
    }
    table {
        margin-top: 10%;
    }
    .about-txt ul {
        width: 90%;
        margin: auto;
    }
    .about-txt li {
        margin: 10% 0;
    }
}